<%= @PageHeadView %>
<div id="pass_input">
<form action="<%= @yaml['Url'] %>" method="POST">
<input type="hidden" name="mode" value="mente_top">
パスワード：<input type="password" name="InputPass" size="25">&nbsp;<input type="submit" value="ログイン">
</form>
</div>
<%= @PageFootView %></div>
</body></html>